*.class
zikken/opamp/家の印刷機が故障し.docx
*.xlsx
*.docx
*.txt
*.txt
cognitivePsychology/18cgp04.pdf
*.eddx
groupStudy/xmlParser/src/xmlParser/XMLTree.java
groupStudy/superCommon/trash/*
groupStudy/superCommon/src/superCommon/Charsets_copy.java
